[Unit]
Description=wazuh unit

[Service]
Type=forking
WorkingDirectory= {{ workdir }}/single-node
ExecStart=/bin/bash -c 'docker compose up'
ExecStop=/bin/bash -c 'docker compose down'
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target